@use "../../../styles/partials/breakpoints" as *;
@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/colours" as *;
@use "../../../styles/partials/variables" as *;

.header {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  background-color: #fafafa;

  @include mobile {
    flex-direction: column;
  }
}

.header__search-bar {
  width: 50vw;
  padding: 1rem;
  border-radius: 0.35rem;
  margin-right: 2rem;
  margin-bottom: auto;
  margin-top: auto;
  font-size: 1rem;
  color: black;
  border-color: #e1e1e1;

  @include tablet {
    width: 30vw;
  }
  @include desktop {
    width: 20vw;
  }
}

.header__logo {
  width: 45%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 20%;
    margin-left: 3rem;
  }
  @include desktop {
    width: 15%;
    margin-left: 7rem;
  }
}

.header__tab-desk-button {
  margin: 1rem;
  width: 18vw;
  height: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    display: none;
  }
}

button {
  color: white;
  background-color: #0095ff;
  border-radius: 0.35rem;
  border-style: none;
  font-family: Avenir;
  font-weight: 400;
  font-size: 1.2rem;

  @include tablet {
    font-size: 1.1rem;
  }
  @include desktop {
    font-size: 1.1rem;
  }
}

.header__part {
  display: flex;
  justify-content: space-between;
}

.header__publish-icon {
  width: 3rem;
  margin-right: 20%;
  background-color: #0095ff;
}

.header__button-text {
  justify-content: center;
  padding-right: 30%;
}

.header__mobile-button {
  margin: 1rem;
  width: 66vw;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.header__avatarimage-mob {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.header__avatarimage-tab-desk {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.header__avatarimage-tab-desk {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
  margin-right: 3rem;
  @include mobile {
    display: none;
  }
}
