@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/variables" as *;

.othervideos {
  font-family: Avenir;
  font-family: 400;
}

.othervideos__image {
  width: 12rem;
  height: 8rem;
  border-radius: 0.5rem;
}
