@use "../../../styles/partials/breakpoints" as *;
@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/colours" as *;
@use "../../../styles/partials/variables" as *;

.othervideos {
  font-family: Avenir;
  font-family: 400;
}

.othervideos__card {
  display: flex;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}

.othervideos__image {
  margin-right: 5%;
  min-width: 12rem;
  max-width: 12rem;
  height: 8rem;
  border-radius: 0.5rem;
}

.othervideos__header {
  font-family: Avenir;
  font-weight: 400;
  margin-left: 1rem;
}
